<div class="site">
  <!-- Site Header -->
  <header class="site-header classic relative">
     <%= render 'letter_spring/header' %>
  </header>
  <!--/ Site Header -->
  <main class="site-main">
     <!-- Page header -->
     <div class="page-header page-header-sm">
        <h1 class="text-uppercase page-title"><%= t(:currency_exchange_rates) %></h1>
     </div>
     <!-- /Page header -->
     <!-- Breadcrumbs -->
     <div class="breadcrumb">
        <div class="container">
           <ol>
              <li><a href="<%= root_path %>"><%= t(:home) %></a></li>
              <li class="active"><%= t(:currency_exchange_rates) %></li>
           </ol>
        </div>
     </div>
     <!-- /Breadcrumbs -->
      <div class="container">
         <div class="row">
            <div class="page-content col-md-12">
              
               <h3 class="title text-uppercase"><%= t(:exchange_rates) %></h3>
               <div class="post-content">
                  <div class="col-md-12">
                     <div class="row">
                        <div class="table-responsive">
                           <table class="table table-bordered">
                              <thead class="bg-primary">
                                 <tr>
                                    <th style="text-align:center; vertical-align:middle; font-weight: bold"><%= t(:currency_code) %></th>
                                    <th style="text-align:center; vertical-align:middle; font-weight: bold"><%= t(:currency_name) %></th>
                                    <th style="text-align:center; vertical-align:middle; font-weight: bold"><%= t(:buy) %></th>
                                    <th style="text-align:center; vertical-align:middle; font-weight: bold"><%= t(:transfer) %></th>
                                    <th style="text-align:center; vertical-align:middle; font-weight: bold"><%= t(:sell) %></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% @currency.xpath('//Exrate').each do |item| %>
                                    <tr>
                                       <td style="vertical-align:middle"><%= item.attributes["CurrencyCode"] %></td>
                                       <td style="vertical-align:middle"><%= item.attributes["CurrencyName"] %></td>
                                       <td style="vertical-align:middle"><%= item.attributes["Buy"] %></td>
                                       <td style="vertical-align:middle"><%= item.attributes["Transfer"] %></td>
                                       <td style="vertical-align:middle"><%= item.attributes["Sell"] %></td>
                                    </tr>
                                 <% end %>
                                 <% @currency.xpath('//DateTime').each do |item| %>
                                    <tr>
                                       <td colspan="5" style="text-align: left; vertical-align:middle; font-weight: bold"><%= t(:updated) %> <%= item.text %></td>
                                    </tr>
                                 <% end %>
                                 <% @currency.xpath('//Source').each do |source| %>
                                    <tr>
                                       <td colspan="5" style="text-align: left; vertical-align:middle; font-weight: bold"><%= t(:source) %> <%= source.text %></td>
                                    </tr>
                                 <% end %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               
               <h3 class="title text-uppercase"><%= t(:currency) %></h3>
               <div class="post-content">
                  <div class="col-md-12">
                     <div class="row">
                        <div class="table-responsive">
                           <table class="table table-bordered">
                              <thead class="bg-primary">
                                 <tr>
                                    <th style="text-align:center; vertical-align:middle; font-weight: bold"><%= t(:gold_type) %></th>
                                    <th style="text-align:center; vertical-align:middle; font-weight: bold"><%= t(:gold_buy) %></th>
                                    <th style="text-align:center; vertical-align:middle; font-weight: bold"><%= t(:gold_sell) %></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% @exchange.xpath("//ratelist/city").each do |city| %>
                                    <tr>
                                       <td colspan="3" style="text-align:left; font-weight: bold"><%= city.attributes["name"] %></td>
                                    </tr>
                                    <%= city.xpath("item").each do |item| %>
                                       <tr>
                                          <td style="vertical-align:middle"><%= item.attributes["type"] %></td>
                                          <td style="vertical-align:middle"><%= item.attributes["buy"] %></td>
                                          <td style="vertical-align:middle"><%= item.attributes["sell"] %></td>
                                       </tr>
                                    <% end %>
                                 <% end %>
                                 <% @exchange.xpath("//ratelist").each do |ratelist| %>
                                    <tr>
                                       <td style="text-align: left; vertical-align:middle; font-weight: bold"><%= t(:updated) %> <%= ratelist.attributes["updated"] %></td>
                                       <td colspan="2" style="text-align: left; vertical-align:middle; font-weight: bold"><%= t(:unit) %> <%= ratelist.attributes["unit"] %></td>
                                    </tr>
                                 <% end %>
                                 <tr>
                                    <% @exchange.xpath("//title").each do |title| %>
                                       <td style="text-align:left; font-weight: bold"><%= t(:source) %> <%= title.text %></td>
                                    <% end %>
                                    <% @exchange.xpath("//url").each do |url| %>
                                       <td colspan="2" style="text-align:left; font-weight: bold">Website: <a href="<%= url.text %>" target="_blank"><%= url.text %></a></td>
                                    <% end %>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
  </main>
  <!-- Download -->
   <section class="bg-primary">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="download">
                  <div class="download-content text-uppercase"><i class="fa fa-file-pdf-o"></i> <%= t(:somes_picture_of_construction) %></div> <a href="<%= url_for(controller: "admin/companies", action: "hatc1_vietren") %>" target="_blank" class="btn btn-md btn-dark btn-shadow"><i class="fa fa-cloud-download"></i> Link 1</a> </div>
            </div>
         </div>
      </div>
   </section>
   <!-- /Download -->
   <!-- Download -->
   <section class="bg-primary">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="download">
                  <div class="download-content text-uppercase"></div> <a href="<%= url_for(controller: "admin/companies", action: "hatc2_vietren") %>" target="_blank" class="btn btn-md btn-dark btn-shadow"><i class="fa fa-cloud-download"></i> Link 2</a> </div>
            </div>
         </div>
      </div>
   </section>
   <!-- /Download -->
  <!-- Site Footer -->
  <footer class="site-footer">
    <%= render 'home/footer' %>
  </footer>
  <!-- /Site Footer -->
</div>
<!-- Scripts -->
<%= javascript_include_tag '/frontend/js/jquery.min.js' %>
<%= javascript_include_tag '/frontend/js/bootstrap/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/doubletaptogo.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/functions.js' %>
<%= javascript_include_tag '/frontend/js/isotope.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.swipebox.js' %>
<%= javascript_include_tag '/frontend/js/waypoints/jquery.waypoints.min.js' %>
<!-- /Scripts -->
<!-- Revolution Slider -->
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %>
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %>
<!-- /Revolution Slider -->