<p id="notice"><%= notice %></p>

<h1>Listing Investment Projects</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Tag vn</th>
      <th>Title vn</th>
      <th>Content vn</th>
      <th>Tag en</th>
      <th>Title en</th>
      <th>Content en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investment_projects.each do |investment_project| %>
      <tr>
        <td><%= investment_project.image_url %></td>
        <td><%= investment_project.tag_vn %></td>
        <td><%= investment_project.title_vn %></td>
        <td><%= investment_project.content_vn %></td>
        <td><%= investment_project.tag_en %></td>
        <td><%= investment_project.title_en %></td>
        <td><%= investment_project.content_en %></td>
        <td><%= link_to 'Show', investment_project %></td>
        <td><%= link_to 'Edit', edit_investment_project_path(investment_project) %></td>
        <td><%= link_to 'Destroy', investment_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment project', new_investment_project_path %>
