<!-- Main navbar -->
    <%= render "/admin/main/navbar" %>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                    <%= render '/admin/main/user_menu' %>
                <!-- /user menu -->

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main menu-->
                                <%= render "/admin/main/main_menu" %>
                            <!-- /main menu -->

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><span class="text-semibold">Home - Dashboard</span></h4>
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><%= link_to "<i class='icon-home2 position-left'></i> Home".html_safe, {controller: "main", action: "index"} %></li>
                        <li><%= link_to "News", { controller: "admin/information", action: "index" } %></li>
                        <li><%= link_to "News Management", { controller: "admin/information", action: "index" } %></li>
                        <li class="active">Edit News</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->
            
            <!-- Content area -->
            <div class="content">
                <!-- Horizontal form options -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Basic layout-->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Edit News</h5>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="reload"></a></li>
                                        <li><a data-action="close"></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <%= render 'form' %>
            
                        </div>
                        <!-- /basic layout -->
                    </div>
                </div>
                <!-- /horizontal form options -->

                <!-- Footer -->
                <div class="footer text-muted">
                    <%= render "/admin/main/footer" %>
                </div>
                <!-- /footer -->
                
            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/backend/assets/js/core/app.js' %>

<%= javascript_include_tag '/backend/assets/js/pages/form_layouts.js' %>
<%= javascript_include_tag '/backend/ckeditor/ckeditor.js' %>
<%= javascript_include_tag '/backend/assets/js/pages/editor_ckeditor.js' %>
<%= javascript_include_tag '//cdn.ckeditor.com/4.5.7/full/ckeditor.js' %>
<%= javascript_include_tag '/backend/assets/js/pages/colors_primary.js' %>
<!-- /theme JS files -->