  <div class="site">
    <!-- Site Header -->
    <header class="site-header classic relative">
       <%= render 'letter_spring/header' %>
    </header>
    <!--/ Site Header -->
    <main class="site-main">
       <!-- Page header -->
       <div class="page-header page-header-sm">
          <h1 class="text-uppercase page-title">Giới thiệu</h1> </div>
       <!-- /Page header -->
       <!-- Breadcrumbs -->
       <div class="breadcrumb">
          <div class="container">
             <ol>
                <li><a href="<%= root_path %>">Trang chủ</a></li>
                <li class="active"><%= @about_us.tag_vn %></li>
             </ol>
          </div>
       </div>
       <!-- /Breadcrumbs -->
       <section class="section padding-small">
          <div class="container">
             <div class="row">
                <div class="col-sm-6">
                   <h3 class="title text-uppercase"><%= @about_us.title_vn %></h3>
                   <%= @about_us.content_vn.html_safe %>
                </div>
                <div class="col-sm-6"> <img class="shadow" src="/frontend/images/demo/our-offices.jpg" alt="Our offices"> </div>
             </div>
          </div>
       </section>
       <section class="section no-top-padding">
          <div class="container">
             <div class="row">
                <div class="col-md-12">
                   <h3 class="title text-uppercase">Experienced Team</h3> </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                   <div class="team team-col-3">
                      <div class="member">
                         <div class="member-wrap">
                            <div class="member-image">
                               <a href="member.html"><img src="/frontend/images/demo/team-1.jpg" alt="John Builder"></a>
                            </div> <a href="member.html"><h3 class="member-name">John Builder</h3></a> <span class="member-title">CEO and founjder of Counstruction ltd.</span>
                            <p class="member-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis lacinia enim vel blandit. In placerat, ex nec sodales elementum.</p>
                         </div>
                      </div>
                      <div class="member">
                         <div class="member-wrap">
                            <div class="member-image">
                               <a href="member.html"><img src="/frontend/images/demo/team-2.jpg" alt="Steve Planer"></a>
                            </div> <a href="member.html"><h3 class="member-name">Steve Planer</h3></a> <span class="member-title">Construction engineer</span>
                            <p class="member-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis lacinia enim vel blandit. In placerat, ex nec sodales elementum.</p>
                         </div>
                      </div>
                      <div class="member">
                         <div class="member-wrap">
                            <div class="member-image">
                               <a href="member.html"><img src="/frontend/images/demo/team-3.jpg" alt="Mark Teran"></a>
                            </div> <a href="member.html"><h3 class="member-name">Mark Teran</h3></a> <span class="member-title">Project leader</span>
                            <p class="member-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis lacinia enim vel blandit. In placerat, ex nec sodales elementum.</p>
                         </div>
                      </div>
                      <div class="member">
                         <div class="member-wrap">
                            <div class="member-image">
                               <a href="member.html"><img src="/frontend/images/demo/team-4.jpg" alt="Greg Custom"></a>
                            </div> <a href="member.html"><h3 class="member-name">Greg Custom</h3></a> <span class="member-title">Customer relations</span>
                            <p class="member-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis lacinia enim vel blandit. In placerat, ex nec sodales elementum.</p>
                         </div>
                      </div>
                      <div class="member">
                         <div class="member-wrap">
                            <div class="member-image">
                               <a href="member.html"><img src="/frontend/images/demo/team-5.jpg" alt="Tony Archor"></a>
                            </div> <a href="member.html"><h3 class="member-name">Tony Archor</h3></a> <span class="member-title">Quality manager</span>
                            <p class="member-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis lacinia enim vel blandit. In placerat, ex nec sodales elementum.</p>
                         </div>
                      </div>
                      <div class="member">
                         <div class="member-wrap">
                            <div class="member-image">
                               <a href="member.html"><img src="/frontend/images/demo/team-6.jpg" alt="Frank Drive"></a>
                            </div> <a href="member.html"><h3 class="member-name">Frank Drive</h3></a> <span class="member-title">Vehicle park manager</span>
                            <p class="member-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis lacinia enim vel blandit. In placerat, ex nec sodales elementum.</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </main>
    <!-- Site Footer -->
    <footer class="site-footer">
       <%= render 'home/footer' %>
    </footer>
    <!-- /Site Footer -->
  </div>
  <!-- Scripts -->
  <%= javascript_include_tag '/frontend/js/jquery.min.js' %>
  <%= javascript_include_tag '/frontend/js/bootstrap/bootstrap.min.js' %>
  <%= javascript_include_tag '/frontend/js/doubletaptogo.js' %>
  <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
  <%= javascript_include_tag '/frontend/js/functions.js' %>
  <%= javascript_include_tag '/frontend/js/isotope.min.js' %>
  <%= javascript_include_tag '/frontend/js/jquery.swipebox.js' %>
  <%= javascript_include_tag '/frontend/js/waypoints/jquery.waypoints.min.js' %>
  <!-- /Scripts -->
  <!-- Revolution Slider -->
  <%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %>
  <%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %>
  <!-- /Revolution Slider -->