<div class="site">
  <!-- Site Header -->
  <header class="site-header classic relative">
     <%= render 'letter_spring/header' %>
  </header>
  <!--/ Site Header -->
  <main class="site-main">
     <!-- Page header -->
     <div class="page-header page-header-sm">
        <h1 class="text-uppercase page-title">Công trình</h1> </div>
     <!-- /Page header -->
     <!-- Breadcrumbs -->
     <div class="breadcrumb">
        <div class="container">
           <ol>
              <li><a href="<%= root_path %>">Trang chủ</a></li>
              <li class="active">Công trình</li>
           </ol>
        </div>
     </div>
     <!-- /Breadcrumbs -->
      <div class="container">
         <div class="row">
            <div class="page-content col-md-12">
               <h3 class="title text-uppercase">CÔNG TRÌNH ĐÃ HOÀN THÀNH</h3>
               <div class="post-content">
                  <div class="col-md-12">
                     <div class="row">
                        <div class="table-responsive">
                           <table class="table table-bordered">
                              <thead class="bg-primary">
                                 <tr>
                                    <th rowspan="2">Tên công trình</th>
                                    <th rowspan="2">Tổng giá trị hợp đồng</th>
                                    <th rowspan="2">Giá trị do nhà thầu thực hiện</th>
                                    <th colspan="2">Thời gian hợp đồng</th>
                                    <th rowspan="2">Tên cơ quan thực hiện</th>
                                    <th rowspan="2">Tên nước</th>
                                 </tr>
                                 <tr>
                                    <th>Khởi công</th>
                                    <th>Hoàn thành</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% @completed_construction.each do |item| %>
                                    <tr>
                                       <td><%= item.name_vn %></td>
                                       <td><%= item.total_value %></td>
                                       <td><%= item.cost_performance %></td>
                                       <td><%= item.start_at.strftime("%Y") %></td>
                                       <td><%= item.end_at.strftime("%Y") %></td>
                                       <td><%= item.name_company %></td>
                                       <td><%= item.name_country %></td>
                                    </tr>
                                 <% end %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
  </main>
  <!-- Site Footer -->
  <footer class="site-footer">
    <%= render 'home/footer' %>
  </footer>
  <!-- /Site Footer -->
</div>
<!-- Scripts -->
<%= javascript_include_tag '/frontend/js/jquery.min.js' %>
<%= javascript_include_tag '/frontend/js/bootstrap/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/doubletaptogo.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/functions.js' %>
<%= javascript_include_tag '/frontend/js/isotope.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.swipebox.js' %>
<%= javascript_include_tag '/frontend/js/waypoints/jquery.waypoints.min.js' %>
<!-- /Scripts -->
<!-- Revolution Slider -->
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %>
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %>
<!-- /Revolution Slider -->