<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name vn</th>
      <th>Name en</th>
      <th>Address vn</th>
      <th>Address en</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Founding date</th>
      <th>Authorized capital</th>
      <th>General manager vn</th>
      <th>General manager en</th>
      <th>Email</th>
      <th>Tax code</th>
      <th>Business registration certificate no</th>
      <th>Date of issue</th>
      <th>Place of issue vn</th>
      <th>Place of issue en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name_vn %></td>
        <td><%= company.name_en %></td>
        <td><%= company.address_vn %></td>
        <td><%= company.address_en %></td>
        <td><%= company.phone %></td>
        <td><%= company.fax %></td>
        <td><%= company.founding_date %></td>
        <td><%= company.authorized_capital %></td>
        <td><%= company.general_manager_vn %></td>
        <td><%= company.general_manager_en %></td>
        <td><%= company.email %></td>
        <td><%= company.tax_code %></td>
        <td><%= company.business_registration_certificate_no %></td>
        <td><%= company.date_of_issue %></td>
        <td><%= company.place_of_issue_vn %></td>
        <td><%= company.place_of_issue_en %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
