<p id="notice"><%= notice %></p>

<p>
  <strong>Name vn:</strong>
  <%= @company.name_vn %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @company.name_en %>
</p>

<p>
  <strong>Address vn:</strong>
  <%= @company.address_vn %>
</p>

<p>
  <strong>Address en:</strong>
  <%= @company.address_en %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @company.fax %>
</p>

<p>
  <strong>Founding date:</strong>
  <%= @company.founding_date %>
</p>

<p>
  <strong>Authorized capital:</strong>
  <%= @company.authorized_capital %>
</p>

<p>
  <strong>General manager vn:</strong>
  <%= @company.general_manager_vn %>
</p>

<p>
  <strong>General manager en:</strong>
  <%= @company.general_manager_en %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Tax code:</strong>
  <%= @company.tax_code %>
</p>

<p>
  <strong>Business registration certificate no:</strong>
  <%= @company.business_registration_certificate_no %>
</p>

<p>
  <strong>Date of issue:</strong>
  <%= @company.date_of_issue %>
</p>

<p>
  <strong>Place of issue vn:</strong>
  <%= @company.place_of_issue_vn %>
</p>

<p>
  <strong>Place of issue en:</strong>
  <%= @company.place_of_issue_en %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
