<div class="site">
  <!-- Site Header -->
  <header class="site-header classic relative">
     <%= render 'letter_spring/header' %>
  </header>
  <!--/ Site Header -->
  <main class="site-main">
     <!-- Page header -->
     <div class="page-header page-header-sm">
        <h1 class="page-title text-uppercase">Công nghệ thiết bị</h1> </div>
     <!-- /Page header -->
     <!-- Breadcrumbs -->
     <div class="breadcrumb">
        <div class="container">
           <ol>
              <li><a href="<%= root_path %>">Trang chủ</a></li>
              <li class="active">Công nghệ thiết bị</li>
           </ol>
        </div>
     </div>
     <!-- Features -->
      <section class="section padding-small padding-bottom-big">
         <div class="container">
            <div class="row">
               <% @equipment.each_with_index do |item, index| %>
                  <div class="col-md-4">
                     <div class="featured">
                        <div class="featured-header">
                           <% if !item.image_url.nil? %>
                              <img src="images/demo/services-1.jpg" alt="Construction">
                           <% end %>
                        </div>
                        <div class="featured-content">
                           <h3 class="featured-title text-uppercase nowrap-ellipsis" title="<%= item.name_vn %>"><%= item.name_vn %></h3>
                           <p class="featured-desc">
                              Chuyên mục: <%= item.category_equipment.title_vn %><br/>
                              Số lượng: <%= item.quantity %><br/>
                              Nước sản xuất: <%= item.manufacturer_equipment.name_vn %><br/>
                              Công suất: <%= item.capacity %>
                           </p>
                        </div>
                     </div>
                  </div>
                  <% if index%3 == 2 %>
                     </div>
                        </div>
                     </section>
                     <section class="section padding-small padding-bottom-big">
                        <div class="container">
                           <div class="row">
                  <% end %>
               <% end %>
            </div>
         </div>
      </section>
      <!-- /Features -->
  </main>
  <!-- Download -->
   <section class="bg-primary">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="download">
                  <div class="download-content text-uppercase"><i class="fa fa-file-pdf-o"></i> MỘT SỐ HÌNH ẢNH THI CÔNG CÔNG TRÌNH</div> <a href="<%= url_for(controller: "admin/companies", action: "hatc1_vietren") %>" target="_blank" class="btn btn-md btn-dark btn-shadow"><i class="fa fa-cloud-download"></i> Link 1</a> </div>
            </div>
         </div>
      </div>
   </section>
   <!-- /Download -->
   <!-- Download -->
   <section class="bg-primary">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="download">
                  <div class="download-content text-uppercase"></div> <a href="<%= url_for(controller: "admin/companies", action: "hatc2_vietren") %>" target="_blank" class="btn btn-md btn-dark btn-shadow"><i class="fa fa-cloud-download"></i> Link 2</a> </div>
            </div>
         </div>
      </div>
   </section>
   <!-- /Download -->
  <!-- Site Footer -->
  <footer class="site-footer">
     <%= render 'home/footer' %>
  </footer>
  <!-- /Site Footer -->
</div>
<!-- Scripts -->
<%= javascript_include_tag '/frontend/js/jquery.min.js' %>
<%= javascript_include_tag '/frontend/js/bootstrap/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/doubletaptogo.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/functions.js' %>
<%= javascript_include_tag '/frontend/js/isotope.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.swipebox.js' %>
<%= javascript_include_tag '/frontend/js/waypoints/jquery.waypoints.min.js' %>
<!-- /Scripts -->
<!-- Revolution Slider -->
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %>
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %>
<!-- /Revolution Slider -->