<div class="container">
  <div class="row">
     <div class="col-md-3">
        <div class="widget widget-image">
           <h3 class="widget-title">Giới thiệu</h3>
           <ul class="menu about">
              <li><%= link_to "Về chúng tôi", { controller: "about_us", action: "index" } %></li>
              <li><%= link_to "Cơ cấu tổ chức", { controller: "organization", action: "index" } %></li>
              <li><%= link_to "Thành tích đạt được", { controller: "achivement", action: "index" } %></li>
              <li><%= link_to "Tài chính", { controller: "finance", action: "index" } %></li>
           </ul>
        </div>
     </div>
     <div class="col-md-3">
        <!-- Navigation Widget -->
        <div class="widget widget-nav-menu">
           <h3 class="widget-title">Menu</h3>
           <ul class="menu">
              <li><%= link_to "Giới thiệu", { controller: "about_us", action: "index" } %></li>
              <li><%= link_to "Liên hệ", { controller: "contact", action: "index" } %></li>
              <li><%= link_to "Thông báo", { controller: "notification", action: "index" } %></li>
              <li><%= link_to "Tin tức", { controller: "specialized_news", action: "index" } %></li>
              <li><%= link_to "Tuyển dụng", { controller: "recruitment", action: "index" } %></li>
              <li><%= link_to "Thư viện ảnh", { controller: "gallery", action: "index" } %></li>
              <li><%= link_to "Công trình", { controller: "completed_construction", action: "index" } %></li>
              <li><%= link_to "Công nghệ thiết bị", { controller: "equipment_page", action: "index" } %></li>
           </ul>
        </div>
        <!-- /Navigation Widget -->
     </div>
     <div class="col-md-3">
        <!-- Contact Info Widget -->
        <div class="widget widget-contact-info">
           <h3 class="widget-title">Liên hệ</h3>
           <ul class="contact-info">
              <li><i class="fa fa-map-marker"></i> <%= @company.address_vn %></li>
              <li><i class="fa fa-phone"></i> <a href="#" class="important"><%= @company.phone + " - " + @company.phone_2 %></a></li>
              <li><i class="fa fa-fax"></i> <a href="#"><%= @company.fax %></a></li>
              <li><i class="fa fa-envelope"></i> <a href="mailto:<%= @company.email %>"><%= @company.email %></a></li>
           </ul>
        </div>
        <!-- /Contact Info Widget -->
     </div>
     <div class="col-md-3">
        <!-- Text Widget -->
        <div class="widget widget-text">
           <h3 class="widget-title">Phòng ban</h3>
        </div>
        <!-- /Text Widget -->
        <!-- Working Hours Widget -->
        <div class="widget">
           <table class="working-hours">
              <tbody>
                  <tr>
                     <th>Kế toán - Tài chính</th>
                     <td>053 3850222</td>
                  </tr>
                  <tr>
                     <th>Kỹ thuật</th>
                     <td>053 3852925</td>
                  </tr>
                  <tr>
                     <th>Tổ chức hành chính</th>
                     <td>053 2211052</td>
                  </tr>
                  <tr>
                     <th>Kế hoạch tổng hợp</th>
                     <td>053 2210570</td>
                  </tr>
              </tbody>
           </table>
        </div>
        <!-- /Working Hours Widget -->
     </div>
  </div>
</div>
<!-- Copyright Footer -->
<div class="copyright-footer">
  <div class="container">
     <div class="row">
        <div class="col-md-6">
           <!-- Text Widget -->
           <div class="widget widget-text">
              <p>Copyright © 2016 Công Ty Cổ Phần Việt Ren - Developed by <a href="http://hoangkhang.com.vn/" target="_blank">Hoang Khang Incotech</a></p>
           </div>
           <!-- /Text Widget -->
        </div>
        <div class="col-md-6 text-right">
           <!-- Social Widget -->
           <div class="widget widget-social">
              <ul class="social">
                <li><a href="https://www.facebook.com/vietren02032009/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://plus.google.com/u/0/118217641743102960494?hl=vi" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.pinterest.com/vietren999999/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCcVOqTLu33lURWPwBWLCZIg" target="_blank"><i class="fa fa-youtube" target="_blank"></i></a></li>
              </ul>
           </div>
           <!-- /Social Widget -->
        </div>
     </div>
  </div>
</div>
<!-- /Copyright Footer -->