<div class="container">
  <div class="row">
     <div class="col-md-3">
        <div class="widget widget-image">
           <h3 class="widget-title"><%= t(:intro) %></h3>
           <ul class="menu about">
              <li><%= link_to t(:about_us), { controller: "about_us", action: "index" } %></li>
              <li><%= link_to t(:organizational_structure), { controller: "organization", action: "index" } %></li>
              <li><%= link_to t(:achievements), { controller: "achivement", action: "index" }, class: "nowrap-footer" %></li>
              <li><%= link_to t(:finance), { controller: "finance", action: "index" } %></li>
           </ul>
        </div>
     </div>
     <div class="col-md-3">
        <!-- Navigation Widget -->
        <div class="widget widget-nav-menu">
           <h3 class="widget-title"><%= t(:menu) %></h3>
           <ul class="menu">
              <li><%= link_to t(:letter_spring), { controller: "letter_spring", action: "index" } %></li>
              <li><%= link_to t(:contact), { controller: "contact", action: "index" } %></li>
              <li><%= link_to t(:notification), { controller: "notification", action: "index" } %></li>
              <li><%= link_to t(:news), { controller: "specialized_news", action: "index" } %></li>
              <li><%= link_to t(:recruitment), { controller: "recruitment", action: "index" } %></li>
              <li><%= link_to t(:gallery), { controller: "gallery_completed_construction", action: "index" } %></li>
              <li><%= link_to t(:construction), { controller: "all_construction", action: "index" } %></li>
              <li><%= link_to t(:equipment), { controller: "equipment_page", action: "index" } %></li>
           </ul>
        </div>
        <!-- /Navigation Widget -->
     </div>
     <div class="col-md-3">
        <!-- Contact Info Widget -->
        <div class="widget widget-contact-info">
           <h3 class="widget-title"><%= t(:contact) %></h3>
           <ul class="contact-info">
              <li><i class="fa fa-map-marker"></i> <%= t(:company_address) %></li>
              <li><i class="fa fa-phone"></i> <a href="#" class="important"><%= @company.phone + " - " + @company.phone_2 %></a></li>
              <li><i class="fa fa-fax"></i> <a href="#"><%= @company.fax %></a></li>
              <li><i class="fa fa-envelope"></i> <a href="mailto:<%= @company.email %>"><%= @company.email %></a> - <a href="mailto:<%= @company.email_2 %>"><%= @company.email_2 %></li>
           </ul>
        </div>
        <!-- /Contact Info Widget -->
     </div>
     <div class="col-md-3">
        <!-- Text Widget -->
        <div class="widget widget-text">
           <h3 class="widget-title"><%= t(:departments) %></h3>
        </div>
        <!-- /Text Widget -->
        <!-- Working Hours Widget -->
        <div class="widget">
           <table class="working-hours">
              <tbody>
                  <tr>
                     <th><%= t(:department_of_accounting_finance) %></th>
                     <td>053 3850222</td>
                  </tr>
                  <tr>
                     <th><%= t(:technical_department) %></th>
                     <td>053 3852925</td>
                  </tr>
                  <tr>
                     <th><%= t(:department_of_organization) %></th>
                     <td>053 2211052</td>
                  </tr>
                  <tr>
                     <th><%= t(:department_of_planning_general_affairs) %></th>
                     <td>053 2210570</td>
                  </tr>
              </tbody>
           </table>
        </div>
        <!-- /Working Hours Widget -->
     </div>
  </div>
</div>
<!-- Copyright Footer -->
<div class="copyright-footer">
  <div class="container">
     <div class="row">
        <div class="col-md-6">
           <!-- Text Widget -->
           <div class="widget widget-text">
              <p>Copyright © 2016 <%= t(:company_name) %> - Developed by <a href="http://hoangkhang.com.vn/" target="_blank">Hoang Khang Incotech</a></p>
           </div>
           <!-- /Text Widget -->
        </div>
        <div class="col-md-6 text-right">
           <!-- Social Widget -->
           <div class="widget widget-social">
              <ul class="social social-transparent-border">
                <li><a href="https://www.facebook.com/vietren02032009/" target="_blank" style="background:#3f4da1;border:#3f4da1"><i class="fa fa-facebook color-facebook"></i></a></li>
                <li><a href="https://plus.google.com/u/0/118217641743102960494?hl=vi" target="_blank" style="background: #dd4b38;border:#dd4b38"><i class="fa fa-google-plus color-google-plus"></i></a></li>
                <li><a href="https://www.pinterest.com/vietren999999/" target="_blank" style="background: #dd4b38;border:#dd4b38"><i class="fa fa-pinterest-p color-pinterest"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCcVOqTLu33lURWPwBWLCZIg" target="_blank" style="background: #dd4b38;border:#dd4b38"><i class="fa fa-youtube-play color-youtube" target="_blank"></i></a></li>
              </ul>
           </div>
           <!-- /Social Widget -->
        </div>
     </div>
  </div>
</div>
<!-- /Copyright Footer -->