<div class="container">
  <div class="header-wrap clearfix">
     <!-- Logo -->
     <div class="logo pull-left">
        <a href="<%= root_path %>"> <img src="/frontend/images/logo_vietren.png" alt="Logo" class="logo-img"> </a>
     </div>
     <!-- /Logo -->
     <!-- Site navigation -->
     <nav class="site-navigation pull-right">
        <div class="mobile-wrap">
           <!-- Main menu -->
           <ul id="main-menu" class="main-menu" style="background-color:#009cd7;color:#fff;padding-top: 0.8em;padding-right:10px;">
              <li class="menu-item"><%= link_to t(:home), root_path %>
              </li>
              <li class="menu-item menu-item-has-children"><%= link_to t(:intro), "#" %>
                 <ul class="sub-menu">
                    <li class="menu-item"><%= link_to t(:letter_spring), { controller: "letter_spring", action: "index" } %></li>
                    <li class="menu-item"><%= link_to t(:about_us), { controller: "about_us", action: "index" } %></li>
                    <li class="menu-item"><%= link_to t(:organizational_structure), { controller: "organization", action: "index" } %></li>
                    <li class="menu-item"><%= link_to t(:finance), { controller: "finance", action: "index" } %></li>
                    <li class="menu-item"><%= link_to t(:achievements), { controller: "achivement", action: "index" } %></li>
                 </ul>
              </li>
              <li class="menu-item menu-item-has-children"><%= link_to t(:construction), { controller: "all_construction", action: "index" } %>
                 <ul class="sub-menu">
                    <li class="menu-item"><%= link_to t(:completed_construction_works), { controller: "completed_construction", action: "index" } %></li>
                    <li class="menu-item"><%= link_to t(:implementing_construction_works), { controller: "under_construction", action: "index" } %></li>
                    <li class="menu-item menu-item-has-children"><%= link_to t(:investment_projects), { controller: "all_investment_projects", action: "index" } %>
                      <ul class="sub-menu">
                        <% @menu_projects.each do |item| %>
                          <% if params[:locale] == "vi" %>
                            <li class="menu-item"><%= link_to item.name_vn, { controller: "project_detail", action: "index", project_id: item.id } %></li>
                          <% else %>
                            <li class="menu-item"><%= link_to item.name_en, { controller: "project_detail", action: "index", project_id: item.id } %></li>
                          <% end %>
                        <% end %>
                     </ul>
                    </li>
                 </ul>
              </li>
              <li class="menu-item"><%= link_to t(:equipment), { controller: "equipment_page", action: "index" } %></li>
              <li class="menu-item"><%= link_to t(:notification), { controller: "notification", action: "index" } %></li>
              <li class="menu-item  menu-item-has-children"><%= link_to t(:news), "#" %>
              <ul class="sub-menu">
                    <li class="menu-item"><%= link_to t(:specialized_news), { controller: "specialized_news", action: "index" } %></li>
                    <li class="menu-item"><%= link_to t(:vietren_news), { controller: "vietren_news", action: "index" } %></li>
                 </ul>
              </li>
              <li class="menu-item  menu-item-has-children"><%= link_to t(:gallery), "#" %>
                 <ul class="sub-menu">
                    <li class="menu-item"><%= link_to t(:pictures_completed_construction_works), { controller: "gallery_completed_construction", action: "index" } %></li>
                    <li class="menu-item"><%= link_to t(:pictures_construction_works), { controller: "construction_work", action: "index" } %></li>
                    <li class="menu-item"><%= link_to t(:pictures_investment_projects), { controller: "investment_projects", action: "index" } %></li>
                    <li class="menu-item"><%= link_to t(:pictures_equipment), { controller: "picture_equipment", action: "index" } %></li>
                 </ul>
              </li>
              <li class="menu-item"><%= link_to t(:recruitment), { controller: "recruitment", action: "index" } %></li>
              <li class="menu-item"><%= link_to t(:contact), { controller: "contact", action: "index" } %></li>
              <li class="menu-item color-red">
                <a href="<%= url_for( :locale => 'vi' ) %>"><img src="/frontend/images/flags/vn.png" class="img-flags" ></a>
                <a href="<%= url_for( :locale => 'en' ) %>"><img src="/frontend/images/flags/gb.png" class="img-flags" ></a>
              </li>
           </ul>
           <!-- /Main menu -->
        </div>
        <!-- Mobile navigation toggle -->
        <button class="burger pull-right"> <span class="burger-top"></span> <span class="burger-middle"></span> <span class="burger-bottom"></span> </button>
        <!-- /Mobile navigation toggle -->
     </nav>
     <!-- /Site navigation -->
  </div>
</div>
<!-- /container -->