<div class="rev_slider_wrapper">
  <div id="slider1" class="rev_slider" data-version="5.0">
     <ul>
        <% count = 0 %>
        <% @slideshows.each do |item| %>
          <% if count == 0 %>
            <!-- Slider 1 -->
            <li data-transition="slideright" data-masterspeed="400" data-fstransition="fade">
               <!-- MAIN IMAGE --><img src="<%= item.image_url.slide_image %>" alt="" width="1920" height="1280">
               <!-- LAYER NR. 1 -->
               <div class="tp-caption text-uppercase rev-title" data-x="center" data-hoffset="" data-y="center" data-voffset="-60" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
               data-visibility="['on','on','on','off']" data-start="500">
                <div style="text-align: center; color: #99cc00">
                  <% if params[:locale] == "en" %>
                    <%= item.content_en %>
                  <% else %>
                    <%= item.content_vn %>
                  <% end %>
                </div>
               </div>
               <!-- LAYER NR. 3 -->
               <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="-75" data-y="center" data-voffset="43" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500" data-visibility="['on','on','on','off']"
               data-start="500">
                <%= link_to t(:about_us), { controller: "about_us", action: "index" }, class: "btn btn-wide" %>
               </div>
               <!-- LAYER NR. 4 -->
               <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="75" data-y="center" data-voffset="43" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500" data-visibility="['on','on','on','off']"
               data-start="500">
                <%= link_to t(:contact), { controller: "contact", action: "index" }, class: "btn btn-light btn-wide" %>
               </div>
            </li>
          <% else %>
            <!-- Slider 1 -->
            <li data-transition="slideright" data-masterspeed="400">
               <!-- MAIN IMAGE --><img src="<%= item.image_url.slide_image %>" alt="" width="1920" height="1280">
               <!-- LAYER NR. 1 -->
               <div class="tp-caption text-uppercase rev-title " data-x="center" data-hoffset="" data-y="center" data-voffset="-60" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
               data-visibility="['on','on','on','off']" data-start="500">
                  <div style="text-align: center; color: #99cc00;">
                      <% if params[:locale] == "en" %>
                        <%= item.content_en %>
                      <% else %>
                        <%= item.content_vn %>
                      <% end %>
                  </div>
               </div>
               <!-- LAYER NR. 3 -->
               <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="-75" data-y="center" data-voffset="43" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500" data-visibility="['on','on','on','off']"
               data-start="500">
                <%= link_to t(:about_us), { controller: "about_us", action: "index" }, class: "btn btn-wide" %>
               </div>
               <!-- LAYER NR. 4 -->
               <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="75" data-y="center" data-voffset="43" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500" data-visibility="['on','on','on','off']"
               data-start="500">
                <%= link_to t(:contact), { controller: "contact", action: "index" }, class: "btn btn-light btn-wide" %>
               </div>
            </li>
          <% end %>
          <% count = count + 1 %>
        <% end %>
     </ul>
  </div>
  <!-- END REVOLUTION SLIDER -->
</div>
<!-- END OF SLIDER WRAPPER -->