<% if @project.errors.any? %>
  <div id="error_explanation">
    <% @project.errors.full_messages.each do |message| %>
      <p class="label label-warning"><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_for [:admin, @project], html: {class: "form-horizontal"} do |f| %>
    
    <div class="tabbable tab-content-bordered">
        <ul class="nav nav-tabs bg-primary">
            <li class="active"><a href="#control-tab1" data-toggle="tab">Tiếng Việt</a></li>
            <li><a href="#control-tab2" data-toggle="tab">English </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane has-padding active" id="control-tab1">
                <div class="form-group">
                    <%= f.label "Project Type: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <%= f.collection_select(:project_tag_id, ProjectTag.all, :id, :title_vn, {:prompt => "Choose tag..."}, {class: "select"}) %>
                    </div>
                </div>
                    
                <div class="form-group">
                    <%= f.label "Title: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <%= f.text_field :name_vn, class: "form-control" %>
                    </div>
                </div>
                    
                <div class="form-group">
                    <%= f.label "Total Value: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-4">
                        <%= f.text_field :total_value, class: "form-control price_input" %>
                    </div>
                    <%= f.label "Cost Performance: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-4">
                        <%= f.text_field :cost_performance, class: "form-control price_input" %>
                    </div>
                </div>
                    
                <div class="form-group">
                    <%= f.label "Start At: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-calendar5"></i></span>
                            <%= f.text_field :start_at, class: "form-control pickadate-selectors" %>
                        </div>
                    </div>
                    <%= f.label "End At: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-calendar5"></i></span>
                            <%= f.text_field :end_at, class: "form-control pickadate-selectors" %>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label "Company Name: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <%= f.text_field :name_company, class: "form-control" %>
                    </div>
                </div>
                    
                <div class="form-group">
                    <%= f.label "Country Name: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <%= f.text_field :name_country, class: "form-control" %>
                    </div>
                </div>
            
                <div class="mb-15">
                    <%= f.text_area :content_vn, rows: "4", cols: "4", id: "editor-full-vn" %>
                </div>
            </div>

            <div class="tab-pane has-padding" id="control-tab2">
                <div class="form-group">
                    <%= f.label "Title: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <%= f.text_field :name_en, class: "form-control" %>
                    </div>
                </div>
                    
                <div class="form-group">
                    <%= f.label "Company Name: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <%= f.text_field :name_company_en, class: "form-control" %>
                    </div>
                </div>
                    
                <div class="form-group">
                    <%= f.label "Country Name: ", class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <%= f.text_field :name_country_en, class: "form-control" %>
                    </div>
                </div>
            
                <div class="mb-15">
                    <%= f.text_area :content_en, rows: "4", cols: "4", id: "editor-full-en" %>
                </div>
                    
            </div>
        </div>
    </div>

    <div class="text-right margin-submit">
        <%= button_tag 'Save <i class="icon-plus22 position-right"></i>'.html_safe, class: "btn btn-primary"%>
        <%= link_to 'Cancel <i class="icon-cross2"></i>'.html_safe, admin_projects_path,class: "btn bg-warning-400"%>
    </div>
<% end %>