<div class="container">
  <div class="header-wrap clearfix">
     <!-- Logo -->
     <div class="logo pull-left">
        <a href="<%= root_path %>"> <img src="/frontend/images/logo_vietren.png" alt="Logo" class="logo-img"> </a>
     </div>
     <!-- /Logo -->
     <!-- Site navigation -->
     <nav class="site-navigation pull-right">
        <div class="mobile-wrap">
           <!-- Mobile Search -->
           <div class="site-search hidden-lg">
              <form method="get" id="searchform-header" class="searchform-header">
                 <input class="searchfield" name="s" type="text" placeholder="Search" />
                 <button type="submit" class="submit"><i class="fa fa-search"></i></button>
              </form>
           </div>
           <!-- /Mobile Search -->
           <!-- Above Navbar -->
           <div class="above-nav-bar">
              <ul class="contact-info transparent">
                 <li><i class="fa fa-phone"></i> <span class="important">053.3850.222 - 053.2211.052</span></li>
                 <li><i class="fa fa-envelope"></i> <a href="mailto:vrc@vnn.vn">vrc@vnn.vn</a></li>
              </ul>
              <ul class="social social-transparent-border">
                <li><a href="https://www.facebook.com/vietren02032009/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://plus.google.com/u/0/118217641743102960494?hl=vi" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.pinterest.com/vietren999999/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCcVOqTLu33lURWPwBWLCZIg" target="_blank"><i class="fa fa-youtube" target="_blank"></i></a></li>
              </ul>
           </div>
           <!-- /Above Navbar -->
           <!-- Main menu -->
           <ul id="main-menu" class="main-menu">
              <li class="menu-item menu-item-has-children"><a href="<%= root_path %>">Trang chủ</a>
              </li>
              <li class="menu-item menu-item-has-children"><a href="#">Giới thiệu</a>
                 <ul class="sub-menu">
                    <li class="menu-item"><%= link_to "Thư xuân", { controller: "letter_spring", action: "index" } %></li>
                    <li class="menu-item"><%= link_to "Về chúng tôi", { controller: "about_us", action: "index" } %></li>
                    <li class="menu-item"><%= link_to "Cơ cấu tổ chức", { controller: "organization", action: "index" } %></li>
                    <li class="menu-item"><%= link_to "Tài chính", { controller: "finance", action: "index" } %></li>
                    <li class="menu-item"><%= link_to "Thành tích đạt được", { controller: "achivement", action: "index" } %></li>
                 </ul>
              </li>
              <li class="menu-item menu-item-has-children"><a href="#">Công trình</a>
                 <ul class="sub-menu">
                    <li class="menu-item"><%= link_to "Công trình đã hoàn thành", { controller: "completed_construction", action: "index" } %></li>
                    <li class="menu-item"><%= link_to "Công trình đang thi công", { controller: "under_construction", action: "index" } %></li>
                    <li class="menu-item menu-item-has-children"><a href="#">Dự án công ty đang đầu tư</a>
                      <ul class="sub-menu">
                        <% @menu_projects.each do |item| %>
                          <li class="menu-item"><%= link_to item.name_vn, { controller: "project_detail", action: "index", project_id: item.id } %></li>
                        <% end %>
                     </ul>
                    </li>
                 </ul>
              </li>
              <li class="menu-item"><%= link_to "Công nghệ thiết bị", { controller: "equipment_page", action: "index" } %></li>
              <li class="menu-item"><%= link_to "Thông báo", { controller: "notification", action: "index" } %></li>
              <li class="menu-item"><a href="#">Tin tức</a>
                 <ul class="sub-menu">
                    <li class="menu-item"><%= link_to "Tin chuyên ngành", { controller: "specialized_news", action: "index" } %></li>
                    <li class="menu-item"><%= link_to "Tin Việt Ren", { controller: "vietren_news", action: "index" } %></li>
                 </ul>
              </li>
              <li class="menu-item  menu-item-has-children"><a href="#">Thư viện ảnh</a>
                 <ul class="sub-menu">
                    <li class="menu-item"><%= link_to "Hình ảnh các dự án đầu tư", { controller: "investment_projects", action: "index" } %></li>
                    <li class="menu-item"><%= link_to "Hình ảnh các công trình thi công", { controller: "gallery", action: "index" } %></li>
                 </ul>
              </li>
              <li class="menu-item"><%= link_to "Tuyển dụng", { controller: "recruitment", action: "index" } %></li>
              <li class="menu-item"><%= link_to "Liên hệ", { controller: "contact", action: "index" } %></li>
              <li class="menu-item color-red"><a href="" style="color: red;">VI</a><a href="" style="color: blue;">EN</a></li>
           </ul>
           <!-- /Main menu -->
        </div>
        <!-- Mobile navigation toggle -->
        <button class="burger pull-right"> <span class="burger-top"></span> <span class="burger-middle"></span> <span class="burger-bottom"></span> </button>
        <!-- /Mobile navigation toggle -->
     </nav>
     <!-- /Site navigation -->
  </div>
</div>
<!-- /container -->