<div class="widget widget-recent-posts">
  <h3 class="widget-title text-uppercase">Tin mới</h3>
  <ul>
    <% @lastest_news.each do |item| %>
      <li>
         <a href="#">
           <img src="<%= item.image_url.small_news %>" alt="Future Smart House">
           <span><%= item.title_vn %></span>
         </a>
      </li>
    <% end %>
  </ul>
</div>
<div class="widget widget-categories">
  <h3 class="widget-title text-uppercase">Công trình</h3>
  <ul>
     <li><%= link_to "Công trình đã hoàn thành", { controller: "completed_construction", action: "index" } %></li>
     <li><%= link_to "Công trình đang thi công", { controller: "under_construction", action: "index" } %></li>
     <li><%= link_to "Dự án công ty đang đầu tư", { controller: "investment_projects", action: "index" } %></li>
  </ul>
</div>
<div class="widget">
  <h3 class="widget-title small-margin text-uppercase">Liên hệ hỗ trợ</h3>
  <ul class="contact-info">
     <li><i class="fa fa-home"></i> <%= @company.name_vn %></li>
     <li><i class="fa fa-map-marker"></i> <%= @company.address_vn %></li>
     <li><i class="fa fa-phone"></i> <a href="#" class="important"><%= @company.phone + " - " + @company.phone_2 %></a></li>
     <li><i class="fa fa-fax"></i> <a href="#"><%= @company.fax %></a></li>
  </ul>
</div>