<div class="widget widget-recent-posts">
  <h3 class="widget-title text-uppercase"><%= t(:lastest_news) %></h3>
  <ul>
    <% if params[:locale] == "en" %>
        <% @lastest_news.each do |item| %>
          <li>
             <a href="#">
               <a href="<%= item.image_url %>" target="_blank"><img src="<%= item.image_url.small_news %>" alt="<%= item.title_en %>"></a>
               <span title="<%= item.title_en %>"><%= link_to truncate(strip_tags(item.title_en), length: 50), { controller: "news_single", action: "index", news_id: item.id } %></span>
             </a>
          </li>
        <% end %>
     <% else %>
        <% @lastest_news.each do |item| %>
          <li>
             <a href="#">
               <a href="<%= item.image_url %>" target="_blank"><img src="<%= item.image_url.small_news %>" alt="<%= item.title_vn %>"></a>
               <span title="<%= item.title_vn %>"><%= link_to truncate(strip_tags(item.title_vn), length: 50), { controller: "news_single", action: "index", news_id: item.id } %></span>
             </a>
          </li>
        <% end %>
     <% end %>    
  </ul>
</div>
<div class="widget widget-categories">
  <h3 class="widget-title text-uppercase"><%= t(:construction) %></h3>
  <ul>
     <li><%= link_to t(:completed_construction_works), { controller: "completed_construction", action: "index" } %></li>
     <li><%= link_to t(:implementing_construction_works), { controller: "under_construction", action: "index" } %></li>
     <li><%= link_to t(:investment_projects), { controller: "all_investment_projects", action: "index" } %></li>
  </ul>
</div>
<div class="widget">
  <h3 class="widget-title small-margin text-uppercase"><%= t(:contact) %></h3>
  <ul class="contact-info">
    <li><i class="fa fa-home"></i> <%= t(:company_name) %></li>
    <li><i class="fa fa-map-marker"></i> <%= t(:company_address) %></li>
    <li><i class="fa fa-phone"></i> <a href="#" class="important"><%= @company.phone + " - " + @company.phone_2 %></a></li>
    <li><i class="fa fa-fax"></i> <a href="#"><%= @company.fax %></a></li>
  </ul>
</div>