<!-- Main navbar -->
    <%= render "/admin/main/navbar" %>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                    <%= render '/admin/main/user_menu' %>
                <!-- /user menu -->

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main menu-->
                                <%= render "/admin/main/main_menu" %>
                            <!-- /main menu -->

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><span class="text-semibold">Home - Dashboard</span></h4>
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><%= link_to "<i class='icon-home2 position-left'></i> Home".html_safe, {controller: "main", action: "index"} %></li>
                        <li><%= link_to "News", { controller: "admin/information", action: "index" } %></li>
                        <li><%= link_to "News Management", { controller: "admin/information", action: "index" } %></li>
                        <li class="active"><%= @information.title_vn + " - " + @information.title_en %></li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->
            
            <!-- Content area -->
            <div class="content">
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title"><span class="text-semibold"><%= @information.title_vn + " - " + @information.title_en %></span></h5><br/>
                        
                        <p class="color-red"><%= notice %></p><br/>
                        
                        <div class="tabbable tab-content-bordered">
                            <ul class="nav nav-tabs bg-primary">
                                <li class="active"><a href="#control-tab1" data-toggle="tab">Tiếng Việt</a></li>
                                <li><a href="#control-tab2" data-toggle="tab">English </a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane has-padding active" id="control-tab1">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <%= label "", "Picture: ", class: "control-label col-sm-2 text-semibold" %>
                                            <div class="col-sm-10">
                                                <%= image_tag(@information.image_url.medium_news, size: "356x237",alt: "Picture of news", class: "img-rouded") %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= label "", "Type: ", class: "control-label col-sm-2 text-semibold" %>
                                            <div class="col-sm-10">
                                                <%= content_tag(:p, class: "form-control-static") do %>
                                                  <%= @information.type_vn %>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= label "", "Title: ", class: "control-label col-sm-2 text-semibold" %>
                                            <div class="col-sm-10">
                                                <%= content_tag(:p, class: "form-control-static") do %>
                                                  <%= @information.title_vn %>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= label "", "Content: ", class: "control-label col-sm-2 text-semibold" %>
                                            <div class="col-sm-10">
                                                <%= content_tag(:p, class: "form-control-static text-justify") do %>
                                                  <%= @information.content_vn.html_safe %>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= label "", "Created At: ", class: "control-label col-sm-2 text-semibold" %>
                                            <div class="col-sm-10">
                                                <%= content_tag(:p, class: "form-control-static") do %>
                                                  <%= @information.created_at.strftime("%d/%m/%Y") %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                    
                                <div class="tab-pane has-padding" id="control-tab2">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <%= label "", "Type: ", class: "control-label col-sm-2 text-semibold" %>
                                            <div class="col-sm-10">
                                                <%= content_tag(:p, class: "form-control-static") do %>
                                                  <%= @information.type_en %>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= label "", "Title: ", class: "control-label col-sm-2 text-semibold" %>
                                            <div class="col-sm-10">
                                                <%= content_tag(:p, class: "form-control-static") do %>
                                                  <%= @information.title_en %>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= label "", "Content: ", class: "control-label col-sm-2 text-semibold" %>
                                            <div class="col-sm-10">
                                                <%= content_tag(:p, class: "form-control-static text-justify") do %>
                                                  <%= @information.content_en.html_safe %>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= label "", "Created At: ", class: "control-label col-sm-2 text-semibold" %>
                                            <div class="col-sm-10">
                                                <%= content_tag(:p, class: "form-control-static") do %>
                                                  <%= @information.created_at.strftime("%d/%m/%Y") %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <%= link_to '<i class="icon-backward2 position-left"></i> Back'.html_safe, { controller: "admin/information", action: "index" }, class: "btn btn-primary margin-submit" %>
                    </div>
                </div>
                <!-- /basic datatable -->

                <!-- Footer -->
                <div class="footer text-muted">
                    <%= render "/admin/main/footer" %>
                </div>
                <!-- /footer -->
                
            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/assets/javascripts/datatables_types.js' %>
<!-- /theme JS files -->