<div class="site">
  <!-- Site Header -->
  <header class="site-header classic relative">
     <%= render 'letter_spring/header' %>
  </header>
  <!--/ Site Header -->
  <main class="site-main">
     <!-- Page header -->
     <div class="page-header page-header-sm">
        <h1 class="text-uppercase page-title"><%= @project.project_tag.title_vn %></h1> </div>
     <!-- /Page header -->
     <!-- Breadcrumbs -->
     <div class="breadcrumb">
        <div class="container">
           <ol>
              <li><a href="<%= root_path %>">Trang chủ</a></li>
              <li><%= link_to @project.project_tag.title_vn, "#" %></li>
              <li class="active"><%= @project.name_vn %></li>
           </ol>
        </div>
     </div>
     <!-- /Breadcrumbs -->
      <div class="container">
         <div class="row">
            <div class="page-content col-md-12 padding-bottom-xl">
               <h3 class="title text-uppercase"><%= @project.name_vn %></h3>
               <p><%= @project.content_vn.html_safe %></p>
               <p>&nbsp;</p>
               <p>&nbsp;</p>
               <div class="gallery row">
                  <% @project.project_details.each do |item| %>
                     <div class="col-xs-3">
                        <figure class="gallery-item">
                           <div class="gallery-icon">
                              <a href="<%= item.image_url.big_image %>"><img src="<%= item.image_url.small_image %>" alt="<%= @project.name_vn %>"></a>
                           </div>
                        </figure>
                     </div>
                  <% end %>
               </div>
            </div>
         </div>
      </div>
   </main>
  <!-- Site Footer -->
  <footer class="site-footer">
     <%= render 'home/footer' %>
  </footer>
  <!-- /Site Footer -->
</div>
<!-- Scripts -->
<%= javascript_include_tag '/frontend/js/jquery.min.js' %>
<%= javascript_include_tag '/frontend/js/bootstrap/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/doubletaptogo.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/functions.js' %>
<%= javascript_include_tag '/frontend/js/isotope.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.swipebox.js' %>
<%= javascript_include_tag '/frontend/js/waypoints/jquery.waypoints.min.js' %>
<!-- /Scripts -->
<!-- Revolution Slider -->
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %>
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %>
<!-- /Revolution Slider -->