<div class="site">
  <!-- Site Header -->
  <header class="site-header classic relative">
     <%= render 'letter_spring/header' %>
  </header>
  <!--/ Site Header -->
  <main class="site-main">
     <!-- Page header -->
     <div class="page-header page-header-sm">
        <h1 class="text-uppercase page-title">Thư viện ảnh</h1> </div>
     <!-- /Page header -->
     <!-- Breadcrumbs -->
     <div class="breadcrumb">
        <div class="container">
           <ol>
              <li><a href="<%= root_path %>">Trang chủ</a></li>
              <li><%= link_to "Thư viện ảnh", { controller: "gallery", action: "index" } %></li>
              <li><%= link_to @gallery.type_vn, { controller: "gallery", action: "index" } %></li>
              <li class="active"><%= @gallery.title_vn %></li>
           </ol>
        </div>
     </div>
     <!-- /Breadcrumbs -->
            <section class="section">
               <div class="container">
                  <div class="row">
                     <aside class="sidebar sidebar-right col-md-3">
                        <%= render '/letter_spring/right_menu' %>
                     </aside>
                     <div class="col-md-9">
                        <div class="gallery-fs">
                           <figure> <img src="<%= @gallery.image_url.big_gallery %>" alt="A modern smart house system">
                              <figcaption><%= @gallery.description_vn %></figcaption>
                           </figure>
                           <div class="gallery-fs-nav">
                              <button class="gallery-fs-fullscreen"><i class="fa fa-arrows-alt"></i></button>
                           </div>
                           <% count = 0 %>
                           <div class="gallery-fs-thumbnails gallery-fs-thumbnails-col-5">
                              <% @gallery.gallery_details.each do |item| %>
                                 <% if count == 0 %>
                                    <a href="<%= item.image_url.big_gallery %>" title="<%= @gallery.title_vn %>" class="selected"> <img src="<%= item.image_url.small_gallery %>" alt="<%= @gallery.description_vn %>"> </a>
                                 <% else %>
                                    <a href="<%= item.image_url.big_gallery %>" title="<%= @gallery.title_vn %>"> <img src="<%= item.image_url.small_gallery %>" alt="<%= @gallery.description_vn %>"> </a>
                                 <% end %>
                                 <% count = count + 1 %>
                              <% end %>
                           </div>
                        </div>
                        <p>&nbsp;</p>
                        
                     </div>
                  </div>
               </div>
            </section>
   </main>
  <!-- Site Footer -->
  <footer class="site-footer">
     <%= render 'home/footer' %>
  </footer>
  <!-- /Site Footer -->
</div>
<!-- Scripts -->
<%= javascript_include_tag '/frontend/js/jquery.min.js' %>
<%= javascript_include_tag '/frontend/js/bootstrap/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/doubletaptogo.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/functions.js' %>
<%= javascript_include_tag '/frontend/js/isotope.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.swipebox.js' %>
<%= javascript_include_tag '/frontend/js/waypoints/jquery.waypoints.min.js' %>
<!-- /Scripts -->
<!-- Revolution Slider -->
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %>
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %>
<!-- /Revolution Slider -->