<div class="site">
  <!-- Site Header -->
  <header class="site-header classic relative">
     <%= render 'letter_spring/header' %>
  </header>
  <!--/ Site Header -->
  <main class="site-main">
     <!-- Page header -->
     <div class="page-header page-header-sm">
        <h1 class="text-uppercase page-title"><%= t(:notification) %></h1>
     </div>
     <!-- /Page header -->
     <!-- Breadcrumbs -->
     <div class="breadcrumb">
        <div class="container">
           <ol>
              <li><a href="<%= root_path %>"><%= t(:home) %></a></li>
              <li><%= link_to t(:notification), { controller: "notification", action: "index" } %></li>
              <li class="active"><%= @notification.title_vn %></li>
           </ol>
        </div>
     </div>
     <!-- /Breadcrumbs -->
     <div class="container">
        <div class="row">
            <div class="page-content col-md-9 padding-bottom-xl">
              <% if params[:locale] == "en" %>
                  <article class="post post-single">
                     <header>
                        <% if !@notification.title_en.present? %>
                           <h3 class="post-title text-uppercase"><%= @notification.title_vn %></h3>
                        <% else %>
                           <h3 class="post-title text-uppercase"><%= @notification.title_en %></h3>
                        <% end %>
                        <ul class="post-meta">
                            <li> <i class="fa fa-user"></i> <span class="text-uppercase">POSTED BY:</span> <%= @company.name_en %></li>
                            <li> <i class="fa fa-calendar"></i>
                               <time datetime="<%= @notification.created_at.strftime("%d-%m-%Y") %>"><%= @notification.created_at.strftime("%d-%m-%Y") %></time>
                            </li>
                            <li><i class="fa fa-th-large"></i>Notification</li>
                         </ul>
                     </header>
                     <div class="post-content">
                        <% if !@notification.content_en.present? %>
                           <p><%= @notification.content_vn.html_safe %></p>
                        <% else %>
                           <p><%= @notification.content_en.html_safe %></p>
                        <% end %>
                     </div>
                  </article>
               <% else %>
                  <article class="post post-single">
                     <header>
                        <h3 class="post-title text-uppercase"><%= @notification.title_vn %></h3>
                        <ul class="post-meta">
                            <li> <i class="fa fa-user"></i> <span class="text-uppercase">ĐĂNG BỞI:</span> <%= @company.name_vn %></li>
                            <li> <i class="fa fa-calendar"></i>
                               <time datetime="<%= @notification.created_at.strftime("%d-%m-%Y") %>"><%= @notification.created_at.strftime("%d-%m-%Y") %></time>
                            </li>
                            <li><i class="fa fa-th-large"></i>Thông báo</li>
                         </ul>
                     </header>
                     <div class="post-content">
                        <p><%= @notification.content_vn.html_safe %></p>
                     </div>
                  </article>
               <% end %>
           </div>
           <aside class="sidebar sidebar-right col-md-3">
              <%= render 'letter_spring/right_menu' %>
           </aside>
        </div>
     </div>
  </main>
  <!-- Site Footer -->
  <footer class="site-footer">
     <%= render 'home/footer' %>
  </footer>
  <!-- /Site Footer -->
</div>
<!-- Scripts -->
<%= javascript_include_tag '/frontend/js/jquery.min.js' %>
<%= javascript_include_tag '/frontend/js/bootstrap/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/doubletaptogo.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/functions.js' %>
<%= javascript_include_tag '/frontend/js/isotope.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.swipebox.js' %>
<%= javascript_include_tag '/frontend/js/waypoints/jquery.waypoints.min.js' %>
<!-- /Scripts -->
<!-- Revolution Slider -->
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %>
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %>
<!-- /Revolution Slider -->