<div class="site">
  <!-- Site Header -->
  <header class="site-header classic relative">
     <%= render 'letter_spring/header' %>
  </header>
  <!--/ Site Header -->
  <main class="site-main">
     <!-- Page header -->
     <div class="page-header page-header-sm">
        <h1 class="text-uppercase page-title"><%= t(:contact) %></h1>
     </div>
     <!-- /Page header -->
     <!-- Breadcrumbs -->
     <div class="breadcrumb">
        <div class="container">
           <ol>
              <li><a href="<%= root_path %>"><%= t(:home) %></a></li>
              <li class="active"><%= t(:contact) %></li>
           </ol>
        </div>
     </div>
     <!-- /Breadcrumbs -->
     <!-- Contact info -->
     <section class="section no-top-padding">
        <div class="container">
           <div class="row" style="margin-top: 40px;">
              <div class="col-md-5">
                 <!-- Info Table Element -->
                 <table class="info-table">
                    <tbody>
                       <tr class="info-table-row">
                          <th class="info-table-icon"><i class="fa fa-long-arrow-right"></i></th>
                          <td class="info-table-content"><%= t(:company_name) %></td>
                       </tr>
                       <tr class="info-table-row">
                          <th class="info-table-icon"><i class="fa fa-map-marker"></i></th>
                          <td class="info-table-content"><%= t(:company_address) %></td>
                       </tr>
                       <tr class="info-table-row">
                          <th class="info-table-icon"><i class="fa fa-phone"></i></th>
                          <td class="info-table-content"><%= @company.phone + " - " + @company.phone_2 %></td>
                       </tr>
                       <tr class="info-table-row">
                          <th class="info-table-icon"><i class="fa fa-fax"></i></th>
                          <td class="info-table-content"><%= @company.fax %></td>
                       </tr>
                       <tr class="info-table-row">
                          <th class="info-table-icon"><i class="fa fa-envelope"></i></th>
                          <td class="info-table-content"><a href="mailto:<%= @company.email %>"><%= @company.email %></a> - <a href="mailto:<%= @company.email_2 %>"><%= @company.email_2 %></a></td>
                       </tr>
                       <tr class="info-table-row">
                          <th class="info-table-icon"><i class="fa fa-globe"></i></th>
                          <td class="info-table-content"><strong><a href="http://vietren.vn/" target="_blank">http://vietren.vn/</a></strong></td>
                       </tr>
                    </tbody>
                 </table>
                 <!-- /Info Table Element -->
              </div>
              <div class="col-md-7">
                 <!-- Contact form -->
                 <form class="contact-form row" method="post" action="email.php" novalidate>
                    <fieldset class="form-group col-md-7">
                       <input id="name" name="name" type="text" placeholder="Name" required>
                       <label for="name"></label>
                    </fieldset>
                    <fieldset class="form-group col-md-7">
                       <input id="email" name="email" type="email" placeholder="Email" required>
                       <label for="email"></label>
                    </fieldset>
                    <fieldset class="form-group col-md-7">
                       <input id="subject" name="subject" type="text" placeholder="Subject" required>
                       <label for="subject"></label>
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                       <textarea id="message" name="message" placeholder="Message" required></textarea>
                       <label for="message"></label>
                       <input type="submit" class="btn btn-normal btn-md" value="Gửi"> </fieldset>
                    <div class="text-center spinner col-md-12 hidden"><i class="fa fa-spinner fa-pulse"></i></div>
                    <div class="info col-md-12"></div>
                 </form>
                 <!-- /Contact form -->
              </div>
           </div>
        </div>
     </section>
     <!-- /Contact info -->
     <!-- Google Maps -->
     <section class="section no-top-padding">
        <div class="row">
           <div class="col-sm-12">
              <!-- Google Maps Element -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122608.44915489854!2d107.30436405172198!3d16.19399222371871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141b4ffffffffff%3A0xe4aa282ba03ddf8!2zQ3R5IFRuaGggWMOieSBk4buxbmcgbWnhu4FuIHRydW5n!5e0!3m2!1svi!2s!4v1459265397029" width="1349" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              <!-- /Google Maps Element -->
           </div>
        </div>
     </section>
     <!-- /Google Maps -->
  </main>
  <!-- Site Footer -->
  <footer class="site-footer">
     <%= render 'home/footer' %>
  </footer>
  <!-- /Site Footer -->
</div>
<!-- Scripts -->
<%= javascript_include_tag '/frontend/js/jquery.min.js' %>
<%= javascript_include_tag '/frontend/js/bootstrap/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/doubletaptogo.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/functions.js' %>
<%= javascript_include_tag '/frontend/js/isotope.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.swipebox.js' %>
<%= javascript_include_tag '/frontend/js/waypoints/jquery.waypoints.min.js' %>
<!-- /Scripts -->
<!-- Revolution Slider -->
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %>
<%= javascript_include_tag '/frontend/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %>
<!-- /Revolution Slider -->
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js' %>
<%= javascript_include_tag '/frontend/js/gmap3.min.js' %>