<p id="notice"><%= notice %></p>

<h1>Listing Project Tags</h1>

<table>
  <thead>
    <tr>
      <th>Title vn</th>
      <th>Content vn</th>
      <th>Title en</th>
      <th>Content en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_tags.each do |project_tag| %>
      <tr>
        <td><%= project_tag.title_vn %></td>
        <td><%= project_tag.content_vn %></td>
        <td><%= project_tag.title_en %></td>
        <td><%= project_tag.content_en %></td>
        <td><%= link_to 'Show', project_tag %></td>
        <td><%= link_to 'Edit', edit_project_tag_path(project_tag) %></td>
        <td><%= link_to 'Destroy', project_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project tag', new_project_tag_path %>
