<!-- Main navbar -->
    <%= render "/admin/main/navbar" %>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                    <%= render '/admin/main/user_menu' %>
                <!-- /user menu -->

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main menu-->
                                <%= render "/admin/main/main_menu" %>
                            <!-- /main menu -->

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><span class="text-semibold">Home - Dashboard</span></h4>
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><%= link_to "<i class='icon-home2 position-left'></i> Home".html_safe, { controller: "main", action: "index" }  %></li>
                        <li><%= link_to "Introduction", admin_finances_path %></li>
                        <li class="active">Finance</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->
            
            <!-- Content area -->
            <div class="content">
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <%= link_to '<i class="glyphicon glyphicon-plus"></i>  New Finance'.html_safe, new_admin_finance_path, class: 'btn bg-teal' %>
                        <hr/>
                        <h5 class="panel-title">Finance</h5>
                    </div>
                    
                    <table class="table datatable-about-us">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Status</th>
                                <th>Created At</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @finances.each do |item| %>
                                <tr>
                                    <td>
                                        <%= link_to item.title_vn, [:admin, item] %><br/>
                                        <%= link_to item.title_en, [:admin, item] %>
                                    </td>
                                    <td>
                                        <%= truncate(strip_tags(item.content_vn), length: 50) %><br/>
                                        <%= truncate(strip_tags(item.content_en), length: 50) %>
                                    </td>
                                    <td>
                                        <span class="label label-info"><%= item.tag_vn %></span><br/>
                                        <span class="label label-info"><%= item.tag_en %></span>
                                    </td>
                                    <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                      <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_admin_finance_path(item) %>
                                                    </li>
                                                    <li>
                                                      <%= link_to '<i class="icon-cross2"></i> Destroy'.html_safe, [:admin, item], method: :delete, data: {confirm: 'Are you sure?'} %>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /basic datatable -->

                <!-- Footer -->
                <div class="footer text-muted">
                    <%= render "/admin/main/footer" %>
                </div>
                <!-- /footer -->
                
            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/assets/javascripts/datatables_about_us.js' %>
<!-- /theme JS files -->