<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Viet Ren Joint Stock Company</title>

	<!-- Global stylesheets -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' %>
    <%= stylesheet_link_tag '/backend/assets/css/icons/icomoon/styles.css' %>
    <%= stylesheet_link_tag '/backend/assets/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/backend/assets/css/core.min.css' %>
    <%= stylesheet_link_tag '/backend/assets/css/components.min.css' %>
    <%= stylesheet_link_tag '/backend/assets/css/colors.min.css' %>
	<%= stylesheet_link_tag '/backend/assets/stylesheets/custom.css' %>
	<!-- /global stylesheets -->
	
	<!-- JS and meta for Rails -->

	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>

	<!-- /js and meta for rails -->
	
	<!-- Favicons -->
    <%= favicon_link_tag '/backend/assets/images/favicon.ico', rel: 'icon', type: 'image/png' %>

	<!-- Core JS files -->
    <%= javascript_include_tag '/backend/assets/js/plugins/loaders/pace.min.js' %>
    <%= javascript_include_tag '/backend/assets/js/core/libraries/jquery.min.js' %>
    <%= javascript_include_tag '/backend/assets/js/core/libraries/bootstrap.min.js' %>
    <%= javascript_include_tag '/backend/assets/js/plugins/loaders/blockui.min.js' %>
	
	<%= javascript_include_tag '/backend/assets/inputmask/jquery.inputmask.min.js' %>
	<%= javascript_include_tag '/backend/assets/inputmask/inputmask.js' %>
    <%= javascript_include_tag '/backend/assets/inputmask/jquery.inputmask.js' %>
    <%= javascript_include_tag '/backend/assets/inputmask/inputmask.numeric.extensions.js' %>
	<!-- /core JS files -->
	
	<%= render "layouts/head_script" %>

</head>

<body>
	<%= yield %>
</body>
</html>