<!doctype html>

<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <% if params[:locale] == "en" %>
         <title>VietRen Joint Stock Company</title>
      <% else %>
         <title>Công Ty Cổ Phần Việt Ren</title>
      <% end %>
      <link rel="shortcut icon" href="favicon.ico">
      <%= favicon_link_tag '/frontend/images/favicon.ico', rel: 'icon', type: 'image/png' %>
      <!-- Revolution Slider Stylesheets -->
      <%= stylesheet_link_tag '/frontend/revolution/css/settings.css' %>
      <%= stylesheet_link_tag '/frontend/revolution/css/layers.css' %>
      <%= stylesheet_link_tag '/frontend/revolution/css/navigation.css' %>
      <!-- /Revolution Slider Stylesheets -->
      <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %>
      <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' %>
      <%= stylesheet_link_tag '/frontend/css/font-awesome.min.css' %>
      <%= stylesheet_link_tag '/frontend/css/bootstrap.css' %>
      <%= stylesheet_link_tag '/frontend/css/core.css' %>
      <%= stylesheet_link_tag '/frontend/css/components.css' %>
      <%= stylesheet_link_tag '/frontend/js/owlcarousel/assets/owl.carousel.css' %>
      <%= stylesheet_link_tag '/frontend/css/swipebox.css' %>
      
      <%= stylesheet_link_tag '/frontend/stylesheets/custom.css' %>
      <!-- /Include CSS Files -->
   </head>
   <body class="stickyheader">
      <%= yield %>
   </body>
</html>